html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Roboto, Arial, serif;
}

.image-preloader:before,
#preloader {
    background: url("../img/preload.gif") center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

.image-preloader:before {
    content: '';
    left: 60px;
    right: 60px;
    z-index: 9998;
}

#wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
    position: relative;
    height: 100vh;
    padding: 100px 0 30px 0;
    box-sizing: border-box;
}

header {
    padding: 24px 15px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
}

#content {
    display: block;
    height: 100%;
    position: relative;
}

.img-wrapper {
    text-align: center;
    overflow: hidden;
    display: table;
    position: static;
    z-index: 2;
}

.footer {
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
}

.footer__creator-link {
    color: #2a5885;
    text-decoration: none;
}

.footer__creator-link:hover {
    text-decoration: underline;
}

.img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 60px;
    box-sizing: border-box;
}

#left, #right {
    width: 60px;
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: 1;
}

#left {
    background: url("/img/ic_left.png") no-repeat center;
    left: 0;
}

#right {
    background: url("/img/ic_right.png") no-repeat center;
    right: 0;
}

#left:hover, #right:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

a {
    /*display: inline-block;*/
    margin: 0 auto;
    height: inherit;
}

#user {
    position: relative;
    height: 52px;
    width: 52px;
    float: left;
}

#avatar img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
}

#data {
    float: left;
    padding: 5px 15px;
}

#name {
    text-decoration: none;
    font-size: 18px;
    color: #2a5885;
}

#name:hover {
    text-decoration: underline;
}

#comment {
    font-size: 14px;
    line-height: 18px;
    display: table;
    margin-top: 2px;
}

#comment .emoji {
    height: 18px;
    width: 18px;
    margin-left: 2px;
    float: right;
}
